
<!doctype html>
<html>
<head>
    <title>Test</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/Content/StyleSheet.css" />
</head>
<body>
    <h2>Таблицы</h2>
    <p>
        <a asp-action="Index" asp-controller="Player">Игроки</a>
    </p>
    <p>
        <a asp-action="Index" asp-controller="Kingdom">Королевства</a>
    </p>
    <p>
        <a asp-action="Index" asp-controller="Achievement">Достижения</a>
    </p>

</body>
</html>